<div class="middle-box text-center animated pulse">
    <h1>404</h1>
    <h3 class="font-bold">Page Not Found</h3>
    <br>
    <div class="error-desc">
        Sorry, but the page you are looking for has note been found.<br>
        Send email to help desk with the follow information:
    </div>
    <br>
    <div class="error-desc well">
        <h3 class="font-bold">{{currentModule.Name}} - ({{currentModule.Id}})</h3>
        {{currentModule.Description}}
    </div>        
</div>

<!--        <form class="form-inline m-t" role="form">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search for page">
</div>
<button type="submit" class="btn btn-primary">Search</button>
</form>-->
