<div class="middle-box text-center animated pulse">
    <h1>404</h1>
    <h3 class="font-bold">Page Not Found</h3>
    <br>
    <div class="error-desc">
        Sorry, but the page you are looking for has note been found.<br>
        Send email to help desk with the follow information:
    </div>
    <br>
    <div class="error-desc well">
        <h3 class="font-bold">{{currentModules.Name}} - ({{currentModules.Id}})</h3>
        <hr>
        In folder <code>modules/templates</code>, You have some templates to use as reference. You can customize it !!!
        <hr>
        Within <code>modules</code>, you have to create forder <code>{{currentModules.Id}}</code>, and into, 
        <br>
        the files <code>{{currentModules.Id}}view.html</code> and <code>{{currentModules.Id}}ctrl.js</code>.
        <br><br>
        After that, add controller to index.html<code>modules/{{currentModules.Id}}/{{currentModules.Id}}ctrl.js</code>. !!!
    </div>

</div>


<!--        <form class="form-inline m-t" role="form">
<div class="form-group">
<input type="text" class="form-control" placeholder="Search for page">
</div>
<button type="submit" class="btn btn-primary">Search</button>
</form>-->
