<!-- Wrapper-->
<div id="wrapper">

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg" style="margin: 0;">

        <!-- {{$state.current.name}} esto formaba parte de la clase, despues de gray-gb-->

        <!-- Page wrapper -->
        <div ng-include="'views/topnavbar.html'"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer emazzu - 02/03/2016 - Desactivado -->

        <!--  <div ng-include="'views/common/footer.html'"></div>-->

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
