<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">

            <!--            include navigation - menú -->
            <div class="navbar-left" ng-include="'views/navigation1.html'"></div>

            <form role="search" class="navbar-form-custom">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>

        </div>

        <!--            include usuario y logout -->
        <div class="navbar-right" ng-include="'views/user.html'"></div>
    </nav>
</div>

<!--            include navigation2 - shortCut -->
<div ng-include="'views/navigation2.html'"></div>
