<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown" dropdown>
        <a class="dropdown-toggle count-info" data-toggle="dropdown"  href="#">
            <i class="fa fa-user fa-lg text-info"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages"
            style="top: 61px;">
            <li style="">
                <div class="dropdown-messages-box" style="background-color: #F3F3F4;">
                    <a ui-sref="profile" class="pull-left">
                        <img alt="image" class="img-circle" style="height: 80px; width: 80px;" src="{{auth.profile.picture}}">
                    </a>
                    <div>
                        <br>
                        <br>
                        <strong>{{auth.profile.name}}</strong>
                        <br>
                        <small class="text-muted"><strong>Last Update</strong>&nbsp&nbsp{{auth.profile.updated_at | date:"dd.MM.yyyy"}}</small>
                        <br><br>

                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="text-center">
                    <text class="text-muted">Email</text>
                    <br>
                    <strong>{{auth.profile.email}}</strong>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="text-center">
                    <text class="text-muted">User Id</text>
                    <br>
                    {{auth.profile.user_id}}
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="text-center text-muted">
                    <p>Version {{currentUser.version}}</p>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="text-center link-block">
                    <!-- call método logout y cambia el estado en ui-route a login.html -->
                    <a  ng-click="logout()">
                        <i class="fa fa-sign-out"></i>
                        <strong>Log Out</strong>
                    </a>
                </div>
            </li>

        </ul>
    </li>
</ul>
