<div class="wrapper wrapper-content animated fadeInRight" ng-controller="Controller1001">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <div>
                    {{variable1}}
                </div>
                <div>
                    {{variable2}}
                </div>                
                <a ng-click="metodoUno()">
                    Metodo Uno
                </a>
                <a ng-click="metodoDos('metodo 2 con parametro')">
                    Metodo Dos
                </a>
                <div>
                    {{metodo1}}
                </div>
                <div>
                    {{metodo2}}
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="middle-box text-center animated pulse">
    <div class="error-desc well">
        <h3 class="font-bold">{{currentModule.Name}} - ({{currentModule.Id}})</h3>
        {{currentModule.Description}}
    </div>        
</div>
